body {
    background-image: url('Treasure map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* Removes default body margin */
    height: 100vh; /* Ensures the body takes up the full viewport height */
    background-color: goldenrod;
    font-family: Arial, sans-serif;
    padding: 0;
    color: #333;
}
#myWraper {
    display: grid;
    place-items: center;
    height: 100vh;
}
button {
    font-size: 18px;
    padding: 12px 24px;
    width: 150px;
    height: 50px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: gold;
}

