li{
    font-size: 20px;
    padding: 10px;
    margin-block: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-shadow: 2px 2px 8px #FF0000;
    background-color: deepskyblue;

}
li:hover{
    background-color: dodgerblue;
}
